{deps, [
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", "HEAD"}},
	{ibrowse, "4.0.2", {git, "git://github.com/cmullaparthi/ibrowse.git", "HEAD"}}
]}.
